.logo{
    color: #111111;
    font-size: 32px;
    font-weight: 700;
}
.ease{
    color: #FF5A5F;
}
.nav{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logoLinks{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.loginSignup{
    width: 30%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.link{
    font-size: 15px;
}



